<div class="container" style="height: 100vh;">
  <div class="row">
    
    <div class="col-12 mt-5">
      <h2><%= @question.title%></h2>
      <label>by: <%= @question.user.name%></label> <br/>
      <label>posted on: <%=@question.created_at%></label>
      <hr style="border-top: 2px solid;"/>
    </div>
    <div class="col-12">
      <h6 style="color: grey;">Question:</h6>
      <p>
        <%= @question.body%>
      </p>
    </div>
    <div class="col-12">
      <h3>Answer</h3>
      <% if current_user.role=="student"%>
        <p>
          <%= @question.answer.nil? ? 'This question has not been answer yet' : @question.answer %>
        </p>
      <%end%>
      <%if current_user.role=="teacher"%>
        <form>
          <div class="form-group">
            <textarea rows="10" placeholder="Give an answer" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit Answer</button>
          </div>
        </form>
      <%end%>
    </div>

    <div class="col-12" style="height: 200px">
      <div class="fb-comments" data-href="https://localhost:3000/question/<%=@question.id %>" data-numposts="5"></div>
    </div>
    
    
  </div>
</div>