<div class="container-fluid">
  <div class="row">
    <div class="col-2 profile"  >
      <div class='card card-profile text-center mt-3' >
        <div class='card-block' style="background-color: #563d7c">
          <%= image_tag current_user.avatar.url(:thumb) %>
          <%= form_for :user, url: user_update_path, html: { multipart: true }, method: 'put' do |form| %>
            <div class="custom-file" style="width: 93%; margin: 10px 5px 5px 5px;">
              <input type="file" class="custom-file-input" id="customFile" name="user[avatar]" style="height: 30px;">
              <label class="custom-file-label" for="customFile" style="height: 30px; text-align: left; padding: 3px;">Choose file</label>
            </div>
            <%= form.submit 'save', class: 'btn btn-default btn-sm' %>
          <% end %>
          <h4 class='card-title'  style="color: white">
            <%= current_user.name%><br/>
            <small><%= current_user.classroom.grade%></small>
          </h4>
          <div class='card-links'>
            <a class='fa fa-dribbble' href='#' style="color: white"></a>
            <a class='fa fa-twitter' href='#' style="color: white"></a>
            <a class='fa fa-facebook' href='#' style="color: white"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" style="background-color:white ">
      <%if flash[:notice]%>
        <div class="alert alert-primary" role="alert">
         <%= flash[:notice]%>
        </div>
      <%end%>
      <%if flash[:error]%>
      <div class="alert alert-danger" role="alert">
        <%= flash[:error]%>
      </div>
      <%end%>
      <% @subjects.each do |subject|%>
        <% subject.questions.each do |question|%>
          <div class="card question">
            <div class="card-header">
              <label class="pull-left"><%= question.subject.name%></label>
              <label class="pull-right"> Answer: <%= question.answer.nil? ? 'Not Given' : 'Given'%></label>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%=question.title%></h5>
              <p class="card-text"><%= question.body%></p>
              <a href="/question/<%= question.id%>" class="btn btn-primary pull-right">view</a>
            </div>
          </div>
        <%end%>  
      <%end%>
    </div>
    <div class="col-4" style="padding-right: 0px;">
      <div class="card mt-3" style="border: 1px solid #918f8f">
            <div class="card-header" style="background-color: #563d7c; color: white;">
              <label class="pull-left">New Question</label>
            </div>
            <div class="card-body" style="background-color: #d7d5d9">
              <form action="/question" method="post">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Subject:</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="question[subject_id]" required>
                    <option value="">Select Subject </option>
                    <% @subjects.each do |subject|%>
                      <option value="<%=subject.id%>"><%= subject.name%></option>
                    <%end%>
                  </select>
                </div>
                <div class="form-group">
                  <label> Title:</label>
                  <input type="text" name="question[title]" placeholder="Question title" class="form-control" required>
                </div>
                <div class="form-group">  
                  <label>Body:</label>
                  <textarea rows="10" class="form-control" placeholder="Post your question here" name="question[body]" required></textarea>
                </div>
                 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <button type="submit" class="btn btn-success btn-question-submit">Post Question</button>
              </form>
            </div>
          </div>
    </div>
    
  </div>
</div>

